<html data-ng-app="collabApp">
<div id="wrapper">
    <header>
        <title>Collab</title>
        <link rel="stylesheet" media="all" href="css/bootstrap.css">
        <link rel="stylesheet" media="all" href="css/main.css">
    </header>
    <body data-ng-controller="InteractionCtrl">
    <section id="main">
        <nav>
            <h2>Collab</h2>
        </nav>
        <div class="content">


            <div id="navbar">
                <!-- Purely for debugging purposes -->
                <ul>
                    <li>
                        <button class="btn" data-ng-click="printPeersList()">Print Peer List</button>
                    </li>
                    <li>
                        <button class="btn" data-ng-click="sendDirectReplicationRequest ()">Request Direct Replication
                        </button>
                    </li>
                </ul>
            </div>

            <div class="tableContainer">
                <table class="tg" style="width: 100%">
                    <thead>
                    <tr>
                        <th class="tg-afp9" style="width: 7%;"></th>
                        <th class="tg-afp9" style="">A</th>
                        <th class="tg-afp9" style="">B</th>
                        <th class="tg-afp9" style="">C</th>
                        <th class="tg-afp9" style="">D</th>
                        <th class="tg-afp9" style="">E</th>
                        <th class="tg-afp9" style="">F</th>
                        <th class="tg-afp9" style="">G</th>
                        <th class="tg-afp9" style="">H</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="row in rows">
                        <td contenteditable data-ng-click="cellClicked(cell.row, cell.col)" class="{{getCellClass(cell.row, cell.col)}}"
                            data-ng-repeat="cell in row"
                            id="cell{{cell.row}}-{{cell.col}}">
                            {{cell.value}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="push"></div>


        </div>

    </section>
    <script src="node_modules/angularjs-1.2.16.js" type="text/javascript"></script>
    <script src="components/external/jquery.js" type="text/javascript"></script>
    <script src="components/util/loggingUtils.js" type="text/javascript"></script>
    <script src="components/util/random.js" type="text/javascript"></script>
    <script src="components/messaging/messagePassingCommons.js" type="text/javascript"></script>
    <script src="components/messaging/frontEndMessaging.js" type="text/javascript"></script>
    <script src="components/interactionLogic.js" type="text/javascript"></script>
    </body>
</div>
<footer>
    <input id="onlineUserInput" type="text" ng-model="onlineUserCountString"/>
</footer>
</html>